.button {
  background: var(--pearl-beige);
  border: var(--spacer-small) solid var(--pearl-beige);
  border-radius: 4px;
  font-size: var(--spacer-medium);
  line-height: var(--spacer-large);
  font-weight: bold;
  color: var(--white-text);
  cursor: pointer;
}
