.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--silk);
  border: var(--spacer-small) solid var(--pearl-beige);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1010;
  padding: var(--spacer-medium);
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s ease-in;
}
