:root {
  /* spacers */
  --spacer-small: 0.5rem;
  --spacer-medium: 1rem;
  --spacer-large: 1.5rem;
  --spacer-xlarge: 2rem;
  --spacer-xxlarge: 3rem;
  --dark-grey-orange: #776e65;
  --floral-white: #faf8ef;
  --pearl-beige: #8f7a66;
  --white-text: #f9f6f2;
  --silk: #bbada0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--floral-white);
  color: var(--dark-grey-orange);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}
